[Unit]
Description=Self Service Password Container

[Container]
Image={{ password_reset_container_image }}
Volume=/home/{{ podman_user }}/reset/config.inc.local.php:/var/www/conf/config.inc.local.php
Volume=/home/{{ podman_user }}/reset/psi-logo.png:/var/www/htdocs/images/psi-logo.png
PublishPort={{ password_reset_port }}:80
Environment='VIRTUAL_HOST=reset.psi.edu'
          
[Service]
Restart=always

[Install]
WantedBy=default.target

