[defaults]
remote_user = davidt
host_key_checking = false
#vault_password_file = ~/vault-pass
roles_path = roles
inventory = inventories/inventory-prod.yaml
forks = 15
[privilege_escalation] 
become = True
become_method = sudo
become_user = root
become_ask_pass = False

